.padding {
  margin: 5px;
  margin-top: 20px;
}

.rowUser {
  display: flex;
  justify-content: baseline;
}

.commentColumn {
  display: flex;
  justify-content: end;  
  align-items: end;  
}

.rowUserNoSpace {
  display: flex;
  align-items: center;
}
