.padding {
  margin-right: 3px;
  margin-top: 5px;
  width: 90%;
}

.rowUser {
  display: flex;
  justify-content: baseline;
}

.commentColumn {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.imageRow {
  display: flex;
}

.rowUserNoSpace {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-input-container {
  position: fixed;
  align-items: flex-start;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  /* bottom: 27%; */
  bottom: 0;
  height: fit-content;
  border-radius: 15px;
  width: 100%;
  /* background-color: transparent; */
  z-index: 1000;
}

.message-input-container-create {
  position: fixed;
  left: 10px;
  align-items: center;
  display: flex;
  bottom: 0;
  height: 80px;
  border-radius: 15px;
  width: 95%;
  z-index: 10;
}

.textAreaWhite {
  background-color: rgb(230, 230, 230);
  position: relative;
  overflow-y: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 30px;
  padding: 5px;
  margin-right: 5px;
  /* line-height: 18px; */
  /* padding-top: 10px;
  padding-bottom: 5px; */
  width: 100%;
  padding-left: 8px;
  font-size: 16px;
}

::placeholder {
  font-size: 12px;
}

.custom-toast::part(container) {
  background-color: white; /* Green background */
  color: rgb(83, 81, 81); /* White text */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Shadow for better visibility */
  margin-top: 16px; /* Add margin from the top */
}

.textAreaWhite:focus {
  border: none;
}

.textAreaWhiteCreate {
  position: relative;
  border-radius: 15px;
  -ms-overflow-style: none;
  /* Hides scrollbar in Internet Explorer */
  scrollbar-width: none;
  width: 100%;
  padding: 3px;
  padding-right: 40px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper ion-input {
  flex: 1;
  margin-right: 8px;
}

.input-wrapper ion-button {
  padding: 0;
}
