.ion-page .ion-page{
    /* background-color: black !important; */
    justify-content: inherit;
    contain: inherit;
}
.ql-container .ql-snow {
    height: fit-content;
}
.quill .ql-container{
    height: fit-content;
}
.ql-editor {
    height: fit-content;
    /* overflow-y: scroll; */
}
.card{
    width: 50%;
    height: 230px;
    border-radius: 10px;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
    overflow: visible;
}