.ql-container.ql-snow {
  border: none;
}

.fullscreen {
  margin-top: -20;
}

.centerRow {
  display: flex;
  height: 50px;
  align-items: center;
  width: 55%;
  justify-content: space-evenly;
}

.tagStart {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

.brown {
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: end;  
  width: 100%;
  padding-top: 40px;  
  margin-bottom: 20px;
  height: 130px;
  background-color: rgb(80, 64, 58);
}

.logoContainer {
  background-color: white;
  padding: 8px;
  position: absolute;
  left: 40%;
  top: 80px;  
  border-radius: 40px;
}

.leftMiddle {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.titleEditor {
  border: .5px solid rgb(97, 95, 95);
  width: 90%;
  border-radius: 15px;
}

.contentEditor {
  border: .5px solid rgb(97, 95, 95);
  width: 90%;
  max-height: 300px;
  font-size: 13px;
  border-radius: 15px;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  width: 100%;
}



.whiteButton {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin-left: 10px;
}

.custom-title-editor .ql-editor.ql-blank::before {
  font-size: 18px;
}

.custom-title-editor .ql-editor.ql-blank {
  padding: 10px;
}

.custom-title-editor p {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.ql-editor ul {
  padding-left: 0px;
}

.custom-content-editor {
  overflow-x: auto;
  height: 100%;
  white-space: nowrap;
}

.custom-content-editor .ql-editor.ql-blank::before {
  font-size: 16px;
}


.custom-content-editor p {
  color: rgb(92, 89, 89);
  font-weight: 250;
  padding: 8px;
}

.flexRow {
  display: flex;
  /* height: 405px; */
  justify-content: space-between;
  padding: 3px;
  align-items: center;
}

.ql-editor {
  height: 91% !important;
}

.input {

  padding: 8px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

  :focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

  .indicator-bar {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    padding: 10px 0;
    background-color: rgb(80, 64, 58);

  }

  /* .indicator-item {
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    /* Inactive color */
}

.indicator-item.active {
  font-weight: bold;
  color: black;
  font-weight: 400;
  border-bottom: none !important;
  border-radius: 10px;
  background-color: white;
}

.no-scrollbar {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.browBackground {
  background-color: rgb(80, 64, 58);
  padding: 10px;
}

.nextButton {
  color: black;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 15px;
  background-color: white;
}