.ql-container.ql-snow {
  border: none;
}

.custom-title-editor .ql-editor.ql-blank::before {
  font-size: 25px;
}

.custom-title-editor .ql-editor.ql-blank {
  padding: 10px;
}

.custom-title-editor p {
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}

.ql-editor ul {
  padding-left: 0px;
}

.custom-content-editor {
  overflow-x: auto;
  height: 100%;
  white-space: nowrap;
}

.custom-content-editor p {
  color: rgb(92, 89, 89);
  font-weight: 350;
  padding: 8px;
}

.flexRow {
  display: flex;
  height: 45px;
  justify-content: space-between;
  padding: 3px;
  align-items: center;
}

.ql-editor {
  height: 91% !important;
}

.input {

  padding: 8px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

  :focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }


}