.row{
    display: flex;
    justify-content: space-between;
    
}

.username{
    font-size: 16px;
    font-weight: 400;
}

.tag{
    font-size: 12px;
    margin-left: 7px;
}

.usernameColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.center{
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
}

.profile-photo{
    border-radius: 100px;
    width: 80px;
    height: 80px;
    padding: 10px;
    
}
