.flex {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}

.around {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: baseline;
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rowSmall {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.action {
  font-size: 16px;
  text-align: center;
  color: purple;
}

.rowEven {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px;
}

.smallTitleChoice {
  font-size: 13px;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 2px;
  margin: 1px;
  border-radius: 3px;
}

.smallTitleChoiceLine {
  font-size: 13px;
  border-bottom: 3px solid rgb(97, 97, 209);
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 2px;
  margin: 1px;
}

.flexChoice {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.rowReply {
  display: flex;
}

.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paddingCenter {
  padding-left: 20px;
}

.noMargin {
  margin: 0;
}

.centerSmall {
  text-align: center;
  font-size: 12px;
}

.optionsCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.row {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row div {
  width: fit-content;
}

.profilePic {
  border-radius: 100px;
  margin-right: 25px;
  width: 70px;
  height: 70px;
}

.indicator-bar-profile {
  display: flex;
  position: relative;
  padding: 3px;
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: rgb(80, 64, 58);
}

.indicator-item-profile {
  flex: 1;
  text-align: center;
  font-size: 12px;
  color: white;
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.indicator-item-profile.active {
  color: black;
  background-color: white;
  border-radius: 10px;
  font-weight: 200;
}

.indicator-slide {
  position: absolute;
  bottom: 0;
  height: 3px;
  transition: left 0.3s ease, width 0.3s ease;
  color: white;
}