.ion-page .ion-page {
    /* background-color: black !important; */
    justify-content: inherit;
    contain: inherit;
}

.ql-container .ql-snow {
    height: fit-content;
}


.quill .ql-container {
    height: fit-content;
}

.card .quill{
    width: 100%;
}

.ql-editor {
    height: fit-content;
    /* overflow-y: scroll; */
}

.card {
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
    overflow: visible;
}

.list-md .card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.flex .center{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerFlex{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 600px) {
    .quill .ql-container{
        height: 200px;
        /* width: 500px; */
    }
    .card{
        width: 80%;
    }
}