.mainPage {
    margin-bottom: 25px;
    margin-top: -20px;
    background-color: 'rgb(80, 64, 58)';
}

:root {
    --ion-safe-area-top: env(safe-area-inset-top);
  }
  

  ion-content {
    --background: transparent;
    padding-top: var(--ion-safe-area-top);
  }


  